.header {
  display: flex;
  gap: 0.5em;
  background-color: rgb(50, 138, 192);
}

h1 {
  font-size: 3.5em;
  color: rgb(242, 242, 242);
  transition: ease-out color 1s;
}

h1:hover {
  color: rgb(0, 0, 0);
  transition: ease-out color 1s;

}

h1::after {
  transition: ease-out color 1s;
  color: rgb(226, 226, 226);
}

.mainFoto {
  margin: 1em;
}