.formulario {
    margin-left: 1em;
}

form input,
form textarea {
    display: block;
}

.pForm {
    font-size: 1.2em;
}

.acciones>input {
    padding-inline: 5em;
}

.datos>ul>li {
    padding-bottom: 1.5em;
}